
.cart-container {
  max-width: 750px;
  margin: auto;
  border-radius: 12px;
  background: #ffffff;
}

.cart-empty-container { 
  max-width: 750px;   
  margin: 50px auto;  
  padding: 40px;
  border-radius: 12px;
  background: #e9e3e7;
  box-shadow: 0px 4px 14px rgba(184, 150, 172, 0.08);
}

 .btn-outline-dark {
  border-color: #1f1f1f;
  color: #1f1f1f;
  transition: 0.3s ease;
}

.btn-outline-dark:hover {
  background-color: #1f1f1f;
  color: white;
  transform: scale(1.03);
}



