
.cart-container {
  max-width: 750px;
  margin: auto;
  border-radius: 12px;
  background: #ffffff;
}

.cart-empty-container { 
  max-width: 750px;   
  margin: 50px auto;  
  padding: 40px;
  border-radius: 12px;
  background: #e9e3e7;
  box-shadow: 0px 4px 14px rgba(184, 150, 172, 0.08);
}

 


