.checkout-container {
    display: flex;
    max-width: 900px;
    justify-content: center;
    padding: 20px;
}

.checkout-form {
  max-width: 400px;
  margin: 20px auto;
  border-radius: 12px;
  background-color: rgba(210, 120, 70, 0.45) 100%;
}

.checkout-form input {
  padding: 10px;
  border-radius: 8px;
}

.checkout-form button {
  border-radius: 10px;
}
