.card-detail {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0 4px 15px rgba(198, 124, 78, 0.15);
}

.title {
  font-size: x-large;
}

.description {
  font-size: medium;
}

.btn-outline-dark {
  border-color: #1f1f1f;
  color: #1f1f1f;
  transition: 0.3s ease;
}

.btn-outline-dark:hover {
  background-color: #1f1f1f;
  color: white;
  transform: scale(1.03);
}
