.carrito {
    width: 60px;
    justify-content: center;
    margin-left: 15px;
}

.texto{
    position: relative;
    background-color: black;
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(249, 239, 239) ;
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    top :1.7rem;
    left: 1.2rem;
}

.cart{
    text-decoration: none;
    cursor: pointer;
}

.carts a:hover{
    background: #fff;
    color: red;
    border: solid 2px red;
    transition-duration: .3s;
}
