.cart-context {
    width: 60px;
    justify-content: center;
    margin-left: 15px;
    text-decoration: none;
}

.text {
    position: relative;
    background-color: whitesmoke;
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(17, 17, 17);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    top: 2.5rem;
    left: 1.2rem;
}

.cart {
    width: 70px;
    cursor: pointer;
    height: auto;
}

.cart:hover {
    transform: scale(1.1);
}