.carrito {
    width: 60px;
    justify-content: center;
    margin-left: 15px;
    

}
.texto{
    position: relative;
    background-color: black;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    top :1.7rem;
    left: 1.2rem;
}