.itemListContainer{
  padding: 0 10px;
  display: flexbox;
   min-height: 70vh;
}

.itemListContainer .mensaje {
  font-size: 1.8rem;
  color: #333;
}

.loader-container {
  display: flex;
  margin-top: 40px;
  height: 100px;
  justify-content: center;
  align-items: center;
 }

 .itemListContainer {
  padding-top: 20px;
}
