.navbar {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: linear-gradient(to bottom,
            rgba(180, 80, 40, 0.65) 0%,
            rgba(210, 120, 70, 0.45) 100%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.logo {
    height: 75px;
    border-radius: 50%;
}

.navbar-container {
    width: 100%;
}

.nav-link {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    transition: transform 0.25s ease, color 0.25s ease;
}

.nav-link:hover {
    transform: scale(1.1);
    color: #ffffff 
  }

