.navbar {
    border: 0ch;
    padding: 0;
    width: 100%;
    height: 140px;
    margin-left: 0;
    background-color:rgb(164, 142, 162);
    font-size: 1.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    
     
} 

.navbar .logo {
    position: top;
    max-width: 7rem;
    min-width: auto;
    border-radius: 50%;
    top:1rem;
    left: 1.2rem;

}
.navbar-brand{
    padding-bottom: 0;
    margin-bottom: 0;
}

.navbar-nav .nav-link:hover {
  color:bisque;
}