
head{
    padding:0;
    margin: 0;
}

body{
    padding:0;
    margin: 0;
     background: linear-gradient(
        to bottom,
        rgba(210, 120, 70, 0.35) 0%,   
        rgba(225, 164, 122, 0.8) 50% 
    );
    background-attachment: fixed;
    min-height: 100vh
}